<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="donkey_imu" params="parent xyz rpy">
    
    <link name="imu_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.025 0.008"/>
        </geometry>
        <material name="gray"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.025 0.025 0.008"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia
          ixx="0.00000052" ixy="0.0" ixz="0.0"
          iyy="0.00000052" iyz="0.0"
          izz="0.00000104"/>
      </inertial>
    </link>

    <joint name="${parent}_to_imu" type="fixed">
      <parent link="${parent}"/>
      <child link="imu_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

  </xacro:macro>
</robot>