<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_camera" params="parent xyz rpy">
    
    <link name="camera_link">
      <visual>
        <geometry><box size="0.035 0.025 0.025"/></geometry>
        <material name="gray"/>
      </visual>
      <collision><geometry><box size="0.035 0.025 0.025"/></geometry></collision>
      <inertial>
        <mass value="0.03"/>
        <inertia ixx="0.000003" ixy="0.0" ixz="0.0" iyy="0.000005" iyz="0.0" izz="0.000006"/>
      </inertial>
    </link>

    <joint name="${parent}_to_camera" type="fixed">
      <parent link="${parent}"/>
      <child link="camera_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <link name="camera_optical_frame"/>
    <joint name="camera_link_to_camera_optical_frame" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_optical_frame"/>
      <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

    </xacro:macro>
</robot>