<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_car">

  <xacro:include filename="$(find robot_description)/urdf/robot_base.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/sensors/camera.xacro" />

  <xacro:robot_camera parent="base_link" xyz="0.14 0 0.07" rpy="0 0 0" />

</robot>